.App{
    margin:50px;
}
.labels-space label{
    margin-bottom: 5px;;
}
.pagination {
    float: right;
}
/* .previous {
    border: 1px solid #000;
    padding: 10px;
}
.next{
    border: 1px solid #000;
    padding: 10px;
} */
.pagination a{
    border: 1px solid #000;
    padding: 7px;
}
.pagination .active{
    background-color: #ddd;
}